{% trans_default_domain 'main' %}

{% extends 'base.html.twig' %}

{% block body %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ path('home') }}">
            <img src="{{ asset('img/ritournelle.png') }}"/>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto align-middle list-inline text-center align-items-center">
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item list-inline-item align-middle"><a class="nav-link" href="{{ path('ritournelle_list') }}">{{ 'main.list'|trans }}</a></li>
                    <li class="nav-item list-inline-item align-middle"><a class="nav-link" href="{{ path('user_list') }}">{{ 'main.user_list'|trans }}</a></li>
                {% endif %}
                {% if app.user %}
                    <li class="nav-item list-inline-item align-middle"><a class="nav-link" href="{{ path('ritournelle_add') }}">{{ 'main.add'|trans }}</a></li>
                    <li class="nav-item list-inline-item align-middle"><a class="nav-link font-weight-bold lead" href="{{ path('ritournelle_enigma') }}">{{ 'main.currernt_enigma'|trans }}</a></li>
                    <li class="nav-item list-inline-item align-middle"><a class="nav-link" href="{{ path('game_classement') }}">{{ 'game.ranking'|trans({}, 'game') }}</a></li>
                {% endif %}
            </ul>
            {% include 'inc/nav_user.html.twig' %}
        </div>
    </nav>
{% endblock %}
