{% trans_default_domain 'game' %}

{% extends 'main/base.html.twig' %}

{% block title %}
    {{ 'game.ranking'|trans }}
{% endblock %}

{% block body %}
    {{ parent() }}
    <main role="main">
        <div class="container-lg mt-5">
            <div class="row">
                <div class="col">
                    <p><a href="#" data-toggle="modal" data-target="#modalCalcul"
                          class="text-info">{{ 'game.point.calcul'|trans }}</a></p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {% for first in firstCurrentWeek %}
                        <div class="h1 m-2" style="display: inline-block">
                            <img src="{{ asset('img/medals/medalgold.svg') }}" class="mr-4"
                                 style="height: 4rem;width: auto;"/>
                            {{ first.user.username }}
                        </div>
                        <div class="h4"
                             style="display: inline-block">{{ 'points'|trans({'%points%': first.points}) }}</div>
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {% for second in secondCurrentWeek %}
                        <div class="h2 m-2" style="display: inline-block">
                            <img src="{{ asset('img/medals/medalsilver.svg') }}" class="mr-4"
                                 style="height: 4rem;width: auto;"/>
                            {{ second.user.username }}
                        </div>
                        <div class="h4"
                             style="display: inline-block">{{ 'points'|trans({'%points%': second.points}) }}</div>
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {% for third in thirdCurrentWeek %}
                        <div class="h3 m-2" style="display: inline-block">
                            <img src="{{ asset('img/medals/medalbronze.svg') }}" class="mr-4"
                                 style="height: 4rem;width: auto;"/>
                            {{ third.user.username }}
                        </div>
                        <div class="h4"
                             style="display: inline-block">{{ 'points'|trans({'%points%':  third.points}) }}</div>
                    {% endfor %}
                </div>
            </div>
            {% for others in othersCurrentWeek %}
                <div class="row">
                    <div class="col">
                        <div class="h4 m-2" style="display: inline-block">
                            {{ others.user.username }}
                        </div>
                        <div class="h4"
                             style="display: inline-block">{{ 'points'|trans({'%points%': others.points}) }}</div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </main>
    <div class="modal fade" id="modalCalcul" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{ 'game.point.calcul'|trans }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ 'game.points.calcul'|trans }}<br>
                    <ol>
                        <li>
                            <b>{{ 'game.point.user'|trans }}</b>
                            <p>{{ 'game.point.user.base_points'|trans({'%points%': 3}) }}</p>
                            <p>{{ 'game.point.user.joker'|trans }}</p>
                        </li>
                        <li>
                            <b>{{ 'game.point.daily'|trans }}</b>
                            <p>{{ 'game.found.first'|trans({'%points%': 10}) }}</p>
                            <p>{{ 'game.found.second'|trans({'%points%': 8}) }}</p>
                            <p>{{ 'game.found.third'|trans({'%points%': 6}) }}</p>
                            <p>{{ 'game.found.fourth'|trans({'%points%': 4}) }}</p>
                            <p>{{ 'game.found.others'|trans({'%points%': 2}) }}</p>
                            <p>{{ 'game.found.after.noon'|trans({'%divide%': 2}) }}</p>
                        </li>
                    </ol>
                    {{ 'game.points.total'|trans }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
                            data-dismiss="modal">{{ 'game.modal.calcul'|trans }}</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
