{% trans_default_domain 'ritournelle' %}

{% extends 'ritournelle/base.html.twig' %}

{% block title %}
    {{ 'ritournelle.add_title'|trans }}
{% endblock %}

{% block body %}
    {{ parent() }}
    {{ form_start(ritournelleForm) }}
    {{ form_widget(ritournelleForm) }}
    {{ form_end(ritournelleForm) }}

    <div class="row">
        <div class="col-sm-3">
            {{ 'ritournelles_yours'|trans }}
        </div>
    </div>
    <div class="row">
        {% for ritournelle in ritournelles %}
            <div class="col-sm-3">
                <div class="card mt-4" style="min-height: 12rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ ritournelle.enigma }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ ritournelle.response }}</h6>
                        <p class="card-text">{{ 'ritournelle.clue'|trans }} :<br>{{ ritournelle.clue }}</p>
                        {% set rating = ritournelle.rating %}
                        {% if rating > 0 %}
                            {% include 'ritournelle/inc/rating.html.twig' with {'disabled': true} %}
                        {% endif %}
                        {% if (ritournelle.games|length == 0) %}
                            <a href="{{ path('ritournelle_add', {'id': ritournelle.id}) }}" class="card-link">{{ 'ritournelle.edit'|trans }}</a>
                        {% else %}
                            <div class="card-link" data-toggle="tooltip" data-placement="left" title="{{ 'no_edit_ritournelle_played'|trans }}">{{ 'ritournelle.edit'|trans }}</div>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <script type="application/javascript">
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
{% endblock %}
