{% trans_default_domain 'ritournelle' %}

{% extends 'main/base.html.twig' %}

{% block body %}
    {{ parent() }}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }} mt-4" role="alert">
                {{ message|trans }}
            </div>
        {% endfor %}
    {% endfor %}
{% endblock %}