{% trans_default_domain 'ritournelle' %}
<div class="card">
    <div class="card-header" id="headingOne">
        <h5 class="mb-0">
            <button class="btn btn-link"
                    data-toggle="collapse"
                    data-target="#collapseOther" aria-expanded="true"
                    aria-controls="collapseOther"
            >
                {{ 'ritournelle.reply_custom'|trans }}{% if customOthers|length > 0 %} - {{ 'ritournelle.defy.other_proposed'|trans({'nb': customOthers|length}) }}{% endif %}
            </button>
        </h5>
        <script type="application/javascript">
            $('[data-toggle="popover"]').popover({
                trigger: 'focus'
            })
        </script>
    </div>

    <div id="collapseOther"
         class="collapse {% if customRitournelleFormView and not hasNewCustomRitournelle %}hide{% else %}show{% endif %}"
         aria-labelledby="headingOther"
         data-parent="#accordion">
        <div class="card-body">
            <div class="container-lg">
                <div class="row mb-4">
                    {% if result is defined and result is not null %}
                    {{ 'ritournelle.others.notify'|trans }}
                    <div class="col-sm-5">
                        <button role="button" id="notifyButton" class="btn btn-toggle {% if result.customRitournelleNotify %}active{% endif %}" data-toggle="button" aria-pressed="{% if result.customRitournelleNotify %}true{% else %}false{% endif %}" autocomplete="off" onclick="notify(this)">
                            <div class="handle"></div>
                        </button>
                    </div>
                    {% endif %}
                </div>
                <div class="row">
                    <ul class="col-12 list-group">
                        {% for customOther in customOthers %}
                            {% set customRitournelleOther=customOther.ritournelle %}
                            {% set customResultOther=customOther.result %}
                            {% set customFormOther=customOther.form %}
                            <li class="list-group-item list-group-item-action">
                                <div class="row">
                                    <div class="col-6">
                                        <p>
                                            {{ 'ritournelle.proposed'|trans({'%name%': customRitournelleOther.user.username}) }}
                                        </p>
                                        <h5 class="card-title">{{ customRitournelleOther.enigma }}</h5>
                                        <button class="btn btn-secondary" type="button"
                                                data-toggle="collapse"
                                                data-target="#collapse{{ loop.index }}"
                                                aria-expanded="false"
                                                aria-controls="collapseExample">
                                            {{ 'ritournelle.show_clue'|trans }}
                                        </button>
                                        <div class="collapse"
                                             id="collapse{{ loop.index }}">
                                            <p class="mt-2 card-text">
                                                {{ customRitournelleOther.clue }}
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        {% if customResultOther %}
                                            <p class="lead">
                                                {{ 'ritournelle.congrats_custom'|trans({'time': customResultOther.replyAt|date("H") ~ 'h' ~ customResultOther.replyAt|date("i")}) }}
                                            </p>
                                        {% else %}
                                            {# on affiche le formulaire pour répondre #}
                                            {{ form_start(customFormOther) }}
                                            <div style="visibility: hidden;">
                                                {{ form_widget(customFormOther.customRitournelle) }}
                                            </div>
                                            <div class="form-group">
                                                {{ form_widget(customFormOther.response) }}
                                            </div>
                                            <div class="form-group">
                                                {{ form_widget(customFormOther.save) }}
                                                {{ form_end(customFormOther) }}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                {% if customRitournelleOther.customResults|length > 0 %}
                                <div class="row">
                                    <div class="col-6">
                                        {{ 'ritournelle.custom.found_by'|trans }}&nbsp;
                                        {% for customResult in customRitournelleOther.customResults %}
                                            {{ customResult.user.username }}
                                            {% if not loop.last %}
                                                ,&nbsp;
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                                {% endif %}
                            </li>
                        {% else %}
                            {{ 'ritournelle.no_custom_other'|trans }}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="notifyModal" tabindex="-1" role="dialog" aria-labelledby="notifyModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="notifyModalLongTitle">{{ 'otherRitournelle.notifyModal.title'|trans }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="notify-modal-body">
                blabla
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">{{ 'otherRitournelle.notifyModal.ok'|trans }}</button>
            </div>
        </div>
    </div>
</div>

<style>
    .btn-toggle {
        margin: 0 4rem;
        padding: 0;
        position: relative;
        border: none;
        height: 1.5rem;
        width: 3rem;
        border-radius: 1.5rem;
        color: #6b7381;
        background: #bdc1c8;
    }
    .btn-toggle:focus,
    .btn-toggle.focus,
    .btn-toggle:focus.active,
    .btn-toggle.focus.active {
        outline: none;
    }
    .btn-toggle:before,
    .btn-toggle:after {
        line-height: 1.5rem;
        width: 4rem;
        text-align: center;
        font-weight: 600;
        font-size: 0.75rem;
        text-transform: uppercase;
        letter-spacing: 2px;
        position: absolute;
        bottom: 0;
        transition: opacity 0.25s;
    }
    .btn-toggle:before {
        content: "{{ 'no'|trans({}, 'main') }}";
        left: -4rem;
    }
    .btn-toggle:after {
        content: "{{ 'yes'|trans({}, 'main') }}";
        right: -4rem;
        opacity: 0.5;
    }
    .btn-toggle > .handle {
        position: absolute;
        top: 0.1875rem;
        left: 0.1875rem;
        width: 1.125rem;
        height: 1.125rem;
        border-radius: 1.125rem;
        background: #fff;
        transition: left 0.25s;
    }
    .btn-toggle.active {
        transition: background-color 0.25s;
    }
    .btn-toggle.active > .handle {
        left: 1.6875rem;
        transition: left 0.25s;
    }
    .btn-toggle.active:before {
        opacity: 0.5;
    }
    .btn-toggle.active:after {
        opacity: 1;
    }
    .btn-toggle:before,
    .btn-toggle:after {
        color: #6b7381;
    }
    .btn-toggle.active {
        background-color: #29b5a8;
    }
</style>
<script>
    function reqListener () {
        let text = '';
        if (this.status != 200) {
            disableNotifyButton();
            text = "{{ 'otherRitournelle.notifyModal.problem'|trans }}";
        } else {
            if (this.response.notification_activated) {
                text = "{{ 'otherRitournelle.notifyModal.on'|trans|raw }}";
            } else {
                text = "{{ 'otherRitournelle.notifyModal.off'|trans|raw }}";
            }
        }
        $('#notify-modal-body').html(text);
        $('#notifyModal').modal();
    }
    function notify(element) {
        // si aria-pressed est actuellement à false, alors cela signifie qu'il souhaite être notifié (car ça va passé à true)
        let toBeNotify = element.getAttribute("aria-pressed") == "false";

        let xhr = new XMLHttpRequest();
        xhr.onload = reqListener;
        xhr.open("POST", "{{ path('game_notify', {'id': app.user.id}) }}", true);
        //Send the proper header information along with the request
        xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
        xhr.responseType = 'json';
        let params = "notify="+toBeNotify;
        try {
            xhr.send(params);
        } catch(err) { // instead of onerror
            disableNotifyButton();
        }
    }
    function disableNotifyButton() {
        setTimeout(
            function() {
                document.getElementById('notifyButton').setAttribute('aria-pressed', false);
                document.getElementById('notifyButton').classList.remove('active');
                }, 100);
    }
</script>
