{% trans_default_domain 'ritournelle' %}

<div class="star-rating">
    <input id="star-5" type="radio" name="comment[rating]" value="5" {% if rating == 5 %}checked{% endif %} {% if disabled %}disabled{% endif %}/>
    <label for="star-5" title="{{ 'ritournelle.level5'|trans }}">
        <i class="active fas fa-star" aria-hidden="true"></i>
    </label>
    <input id="star-4" type="radio" name="comment[rating]" value="4"  {% if rating == 4 %}checked{% endif %} {% if disabled %}disabled{% endif %}/>
    <label for="star-4" title="{{ 'ritournelle.level4'|trans }}">
        <i class="active fas fa-star" aria-hidden="true"></i>
    </label>
    <input id="star-3" type="radio" name="comment[rating]" value="3"  {% if rating == 3 %}checked{% endif %} {% if disabled %}disabled{% endif %}/>
    <label for="star-3" title="{{ 'ritournelle.level3'|trans }}">
        <i class="active fas fa-star" aria-hidden="true"></i>
    </label>
    <input id="star-2" type="radio" name="comment[rating]" value="2" {% if rating == 2 %}checked{% endif %} {% if disabled %}disabled{% endif %}/>
    <label for="star-2" title="{{ 'ritournelle.level2'|trans }}">
        <i class="active fas fa-star" aria-hidden="true"></i>
    </label>
    <input id="star-1" type="radio" name="comment[rating]" value="1" {% if rating == 1 %}checked{% endif %} {% if disabled %}disabled{% endif %}/>
    <label for="star-1" title="{{ 'ritournelle.level1'|trans }}">
        <i class="active fas fa-star" aria-hidden="true"></i>
    </label>
</div>
<style>
    .star-rating {
        direction: rtl;
        display: inline-block;
    }

    .star-rating input[type=radio] {
        display: none
    }

    .star-rating label {
        color: #bbb;
        font-size: 18px;
        padding: 0;
        cursor: pointer;
        -webkit-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out
    }

    {% if not disabled %}
    .star-rating label:hover,
    .star-rating label:hover ~ label,{% endif %}
    .star-rating input[type=radio]:checked ~ label {
        color: #f2b600
    }
</style>
