{% trans_default_domain 'ritournelle' %}

<div class="col-3">
    <h5>{{ 'ritournelle.list_user_result'|trans }}</h5>
    <ul class="list-group">
        {% for result_user in results %}
            <li class="list-group-item list-group-item-action">
                <div class="d-flex justify-content-between">
                    {% if result_user.user.id in firstCurrentWeek|keys %}
                        <img src="{{ asset('img/medals/medalgold.svg') }}" class="mr-1"
                             style="height: 1.5rem;width: auto;"/>
                    {% elseif result_user.user.id in secondCurrentWeek|keys %}
                        <img src="{{ asset('img/medals/medalsilver.svg') }}" class="mr-1"
                             style="height: 1.5rem;width: auto;"/>
                    {% elseif result_user.user.id in thirdCurrentWeek|keys %}
                        <img src="{{ asset('img/medals/medalbronze.svg') }}" class="mr-1"
                             style="height: 1.5rem;width: auto;"/>
                    {% endif %}
                    <div>
                        {{ 'ritournelle.user_found'|trans({'user':result_user.user.username, 'time': result_user.replyAt|date("H") ~ 'h' ~ result_user.replyAt|date("i")}) }}
                    </div>
                    <div>
                        <a href="{{ path('game_classement') }}" class="text-secondary"><small>{{ 'ritournelle.user_points'|trans({'points':result_user.point})|raw }}</small></a>
                    </div>
                </div>
                <blockquote class="blockquote text-right mt-2">
                    <p class="mb-0 text-truncate" data-toggle="tooltip" data-placement="left" title="{{ result_user.comment }}">
                        {{ result_user.comment }}
                    </p>
                </blockquote>
                {% if app.user == result_user.user %}
                    <a href="{{ path('ritournelle_comment') }}">{{ 'ritournelle.edit'|trans }}</a>
                {% endif %}
            </li>
        {% else %}
            {{ 'ritournelle.no_result'|trans|raw }}
        {% endfor %}
    </ul>
</div>

