<html>
<head>

</head>
<body>
<table width="100%" cellspacing="0" cellpadding="0">
    <tr>
        <td>
            <img src="https://www.ritournelle.eu/img/ritournelle.png">
            <br>
        </td>
    </tr>
    <tr>
        <td style="padding: 3%;">
            Bonjour {{ name }},<br><br>
            à la demande générale, une fonctionnalité pour être averti par email des nouvelles Ritournelles vient d'être implémentée.<br>
            Néanmoins, il se peut que tu n'aies aucune envie d'être averti.<br><br>

            Si tel est le cas, tu peux tout de suite te désabonner en cliquant sur le lien suivant ou en le collant dans un navigateur.
            <a href="http://www.ritournelle.eu/magik_connect/{{ token_play }}">http://www.ritournelle.eu/change_notification_ritournelle/{{ token }}</a><br><br><br>
            (ne t'inquiéte pas, tu auras toujours accès aux Ritournelles en allant sur <a href="http://www.ritournelle.eu/magik_connect/{{ token_play }}"><b>www.ritournelle.eu</b></a> 😉)
        </td>
    </tr>
    <tr>
        <td>
            <br>
            <table cellspacing="0" cellpadding="0">
                <tr>
                    <td style="border-radius: 2px;" bgcolor="#24412b">
                        <a href="https://www.ritournelle.eu/change_notification_ritournelle/{{ token }}" target="_blank" style="padding: 8px 12px; border: 1px solid #688567;border-radius: 2px;font-family: Helvetica, Arial, sans-serif;font-size: 14px; color: #ffffff;text-decoration: none;font-weight:bold;display: inline-block;">
                            Mettre à jour la notification
                        </a>
                    </td>
                </tr>
            </table>
            <br>
        </td>
    </tr>
</table>
</body>
</html>
