<html>
<head>

</head>
<body>
<table width="100%" cellspacing="0" cellpadding="0">
    <tr>
        <td>
            <img src="https://www.ritournelle.eu/img/ritournelle.png">
            <br>
        </td>
    </tr>
    <tr>
        <td style="padding: 3%;">
            Bonjour {{ name }},<br><br>
            Cela fait déjà presque 1 semaine que nous sommes en confinement, et je parie que déjà, tu tournes un peu en rond.<br><br>
            <h3>Envie de retester Ritournelle ?</h3>

            Je te propose de revenir faire une partie de Ritournelle pour te changer les idées.<br>
            Pour cela, il te suffit de cliquer sur le lien suivant ou de le coller dans un navigateur
            <a href="http://www.ritournelle.eu/magik_connect/{{ token }}">http://www.ritournelle.eu/magik_connect/{{ token }}</a><br><br><br>
            À tout de suite 🥳
        </td>
    </tr>
    <tr>
        <td>
            <br>
            <table cellspacing="0" cellpadding="0">
                <tr>
                    <td style="border-radius: 2px;" bgcolor="#24412b">
                        <a href="http://www.ritournelle.eu/magik_connect/{{ token }}" target="_blank" style="padding: 8px 12px; border: 1px solid #688567;border-radius: 2px;font-family: Helvetica, Arial, sans-serif;font-size: 14px; color: #ffffff;text-decoration: none;font-weight:bold;display: inline-block;">
                            Jouer
                        </a>
                    </td>
                </tr>
            </table>
            <br>
        </td>
    </tr>
</table>
</body>
</html>
