<html>
<head>

</head>
<body>
<table width="100%" cellspacing="0" cellpadding="0">
    <tr>
        <td>
            <img src="https://www.ritournelle.eu/img/ritournelle.png">
            <br>
        </td>
    </tr>
    <tr>
        <td style="border-radius: 2px;" bgcolor="#688567" width="100%" align="center">
            <div style="padding: 8px 12px; border: 1px solid #688567;border-radius: 2px;font-family: Helvetica, Arial, sans-serif;font-size: 20px; color: #ffffff;text-decoration: none;font-weight:bold;display: inline-block;">
                Une nouvelle Ritournelle vient d'être publiée 🎉
            </div>
        </td>
    </tr>
    <tr>
        <td style="padding: 3%;">
            Bonjour {{ name }},<br><br>

            La nouvelle <a href="https://www.ritournelle.eu/magik_connect/{{ token_play }}" target="_blank"><b>Ritournelle</b></a>
            du jour est : <br>

            <br><br>
            <blockquote
                    style="background-color: #acc9ab;padding: 15px;padding-left: 25px;font-weight: bold;font-size: large;">{{ ritournelle.enigma }}</blockquote>
            <br><br>

            🤔 Tu as jusqu'à 18h pour la trouver.<br><br>

            Et si aujourd'hui, c'est un peu plus difficile que d'habitude, un indice te mettra sur le bon chemin à
            partir de 12h !
        </td>
    </tr>
    <tr>
        <td>
            Déjà trouvé ? Il ne te reste plus qu'à cliquer <a
                    href="https://www.ritournelle.eu/magik_connect/{{ token_play }}" target="_blank">ici</a>
        </td>
    </tr>
    <tr>
        <td>
            <br><br><br>
            <table cellspacing="0" cellpadding="0">
                <tr>
                    <td style="border-radius: 2px;" bgcolor="#24412b">
                        <a href="https://www.ritournelle.eu/magik_connect/{{ token_play }}" target="_blank"
                           style="padding: 8px 12px; border: 1px solid #688567;border-radius: 2px;font-family: Helvetica, Arial, sans-serif;font-size: 14px; color: #ffffff;text-decoration: none;font-weight:bold;display: inline-block;">
                            Répondre
                        </a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    {% if firstCurrentWeek|length > 0 %}
    <tr>
        <td>
            <br>
            <div style="padding: 8px 12px; padding-left: 0;font-family: Helvetica, Arial, sans-serif;font-size: 20px; color:#688567; text-decoration: none;font-weight:bold;display: inline-block;">
                {% if lastWeekRanking|length > 0 %}
                    Classement final de la semaine dernière 🏆
                {% else %}
                    Classement 🏆
                {% endif %}
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <table cellspacing="0" cellpadding="0" style="padding-left: 3%; width: 100%;">
                {% for first in firstCurrentWeek %}
                    <tr>
                        <td style="width: 35px;">
                            <img src="https://lh3.googleusercontent.com/TKAYnGr1HjAbIeyFMnHMe03VSZ2oA1G4WXUe5Kpe_Wb6abcg1j0e2v-KlgnS7E58tcvyMFEIptS6qTl_boVwdS8KOoMekyKoZVRP0kGSJtjBQS8pl2ugKnpn6elpUnLmviU9I3ahdw=s30-p-k"/>
                        </td>
                        <td>
                            {{ first.user.username }} avec {{ first.points }} points
                        </td>
                    </tr>
                {% endfor %}
                {% for second in secondCurrentWeek %}
                    <tr>
                        <td style="width: 35px;">
                            <img src="https://lh3.googleusercontent.com/mdmLU-9HPb4pj5rsD4uOtrbY62ry2ewp28mP-U28DX06UGpOTDjhg2QmN_s4F8k1vXFLXTs_7lZ0Zp5fC5rTk7eNLo77V3UVcQLcSVNb_rPITlC5xq_0IvTrc-p1zmmFlPeRuFk4mA=s27-p-k"/>
                        </td>
                        <td>
                            {{ second.user.username }} avec {{ second.points }} points
                        </td>
                    </tr>
                {% endfor %}
                {% for third in thirdCurrentWeek %}
                    <tr>
                        <td style="width: 35px;">
                            <img src="https://lh3.googleusercontent.com/gZ9Q3g9DRJlBZvDgkuv8Iv1sZ5A4EYdC12rfTK5kDBAwN8yNJpkne_NFpUI0idW1XdCM4YNablbUx6yedGTqpPAsi3UuakplPJnDhmEBGRZOatMv3unTLelWOISdfwd27QQB2GBSPw=s27-p-k"/>
                        </td>
                        <td>
                            {{ third.user.username }} avec {{ third.points }} points
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </td>
    </tr>
        <tr>
            <td>
                <br><br>
                <table cellspacing="0" cellpadding="0">
                    <tr>
                        <td style="border-radius: 2px;" bgcolor="#688567">
                            <a href="https://www.ritournelle.eu/ranking_connect/{{ token_ranking }}" target="_blank"
                               style="padding: 8px 12px; border: 1px solid #688567;border-radius: 2px;font-family: Helvetica, Arial, sans-serif;font-size: 14px; color: #ffffff;text-decoration: none;font-weight:bold;display: inline-block;">
                                Voir le classement complet
                            </a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    {% endif %}
    <tr>
        <td>
            <br><br><br><br><br><br><br>
            T'en as marre de recevoir des courriels de Ritournelle ?<br>
            <a href="https://www.ritournelle.eu/change_notification_ritournelle/{{ token }}" target="_blank"
               style="color: #24412b">Clique ici pour ne plus en recevoir.</a><br>
            Si tu changes d'avis plus tard, tu pourras toujours mettre à jour ton profil.
        </td>
    </tr>
</table>
</body>
</html>
