{% trans_default_domain 'user' %}

{% extends 'main/base.html.twig' %}

{% block body %}
    {{ parent() }}
    {{ form_start(userForm) }}

    {{ form_widget(userForm) }}

    {{ form_end(userForm) }}

{% endblock %}

{% block title %}
    {{ 'user.title'|trans }}
{% endblock %}

